body {
    font-family: Helvetica, Arial, sans-serif
}

h1 {
    background-color: rgb(217, 140, 231);
    color: white;
    padding: 5px;
    margin: 0px;
    font: italic;
}

svg {
    border-width: 1px;
    border-style: solid;
    border-color: black;
}

.mainView {
    display: flex;
}